<table width="50%" cellpadding="3" cellspacing="3" border="3" bordercolor="black">
	<caption><b>Comments<br></caption>
   <tr>
   	  <th>Description</th>
   	   <th>Event</th>
    </tr>
  <% @comments.each do |comments| %>
  	<tr>
       <td><%= comments.description %></td>
       <td><%= comments.event_id %></td>
    </tr>
  <% end %>

</table>